<table class="table">
    <tbody>
        <tr>
            <td>Screen size</td>
            <td>{{ product.diagonal }}</td>
        </tr>
        <tr>
            <td>Screen resolution</td>
            <td>{{ product.display }}</td>
        </tr>
        <tr>
            <td>Processor Family</td>
            <td>{{ product.cpu }}</td>
        </tr>
        <tr>
            <td>Processor Name</td>
            <td>{{ product.cpu_name }}</td>
        </tr>
        <tr>
            <td>Cpu freq</td>
            <td>{{ product.cpu_freq }}</td>
        </tr>
        <tr>
            <td>Videocard</td>
            <td>{{ product.video }}</td>
        </tr>
        <tr>
            <td>Ram</td>
            <td>{{ product.ram }}</td>
        </tr>
        <tr>
            <td>Storage Capacity</td>
            <td>{{ product.storage }}</td>
        </tr>
        <tr>
            <td>Time without charge</td>
            <td>{{ product.time_without_charge }}</td>
        </tr>
    </tbody>
</table> 